/node_modules
/.vs
/.vscode
/.nyc_output
/bin
/coverage
/dist
/obj
/temp
/temp
*.js.map
*.suo
*.csproj
*.csproj.user
*.sln
/yarn-error.log
/packages/ts-nameof/dist
/shared/common/dist
/shared/tests-common/dist
/shared/transforms-ts/node_modules
/shared/transforms-ts/dist
/packages/ts-nameof/node_modules
/packages/ts-nameof/.nyc_output
/packages/ts-nameof/coverage
/shared/transforms-ts/coverage
/shared/transforms-ts/.nyc_output
/shared/transforms-ts/yarn-error.log
/packages/ts-nameof/temp
/shared/transforms-ts/src/external
/packages/ts-nameof/src/external
/shared/tests-common/node_modules
/packages/nameof.tsmacro/node_modules
/shared/transforms-babel/node_modules
/shared/transforms-babel/dist
/shared/transforms-babel/coverage
/shared/transforms-babel/.nyc_output
/packages/babel-plugin-ts-nameof/node_modules
/packages/babel-plugin-ts-nameof/src/external
/shared/transforms-babel/src/external
/shared/transforms-common/src/external
/shared/transforms-common/node_modules
/shared/transforms-common/dist
/shared/transforms-common/coverage
/shared/transforms-common/.nyc_output
/packages/ts-nameof/yarn-error.log
/shared/transforms-babel/yarn-error.log
/shared/transforms-common/yarn-error.log
/packages/babel-plugin-ts-nameof/yarn-error.log
/packages/babel-plugin-ts-nameof/dist
/shared/common/node_modules
/shared/tests-common/yarn-error.log
/packages/ts-nameof.macro/yarn-error.log
/packages/ts-nameof.macro/src/external
/packages/ts-nameof.macro/node_modules
/packages/ts-nameof.macro/dist
/packages/ts-nameof.macro/.nyc_output
/packages/ts-nameof.macro/coverage
/shared/scripts-common/dist
/shared/scripts-common/node_modules
/packages/ts-nameof/scripts/external
/packages/ts-nameof.macro/scripts/external
/shared/scripts-common/yarn-error.log
/shared/common/yarn-error.log
*.tsbuildinfo
