/node_modules
/.vs
/bin
/dist
/obj
/temp
/temp
*.js.map
*.suo
*.csproj
*.csproj.user
*.sln
/yarn-error.log
/packages/ts-nameof/temp/
/packages/*/dist/
/packages/*/node_modules/
/packages/*/coverage/
/packages/*/.nyc_output
/packages/*/yarn-error.log
*.tsbuildinfo
