/node_modules
/.vscode
/.vs
/.git
*.js.map
/obj
/temp
/bin
/src
/dist/tests
/coverage
/setup
/temp
*.v12.suo
*.csproj
*.csproj.user
*.sln
gulpfile.js
.travis.yml
.gitignore
tsconfig.json
tslint.json
typings.json
